Source: node-call-signature
Section: web
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: sudhanshu allurwar <sudhanshuallurwar@gmail.com>
Build-Depends:
 debhelper (>= 9)
 , dh-buildinfo
 , nodejs
Standards-Version: 3.9.8
Homepage: https://github.com/jamestalmage/call-signature#readme
Vcs-Git: https://anonscm.debian.org/git/pkg-javascript/node-call-signature.git
Vcs-Browser: https://anonscm.debian.org/cgit/pkg-javascript/node-call-signature.git

Package: node-call-signature
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
Description: Parse / Generate Method Signatures
 A method signature is part of the method declaration. It is the combination of
 the method name and the parameter list.
 .
 Node.js is an event-based server-side JavaScript engine.
